---
import Base from '../../layouts/Base.astro';
---

<Base title="Human">
  <div class="human-warning">
    <h1>One more thing.</h1>
    <p>Text may contain distress and discomfort. Something personal, written without filters, that does not represent reality of today or the past. Topics may convey discomfort or break the illusion of character. Proceed on your own.</p>
    <a href="/human/all" class="warning-btn">I totally understand.</a>
  </div>
</Base>
