---
import Base from '../layouts/Base.astro';
---

<Base title="404">
  <div class="error-page">
    <pre class="error-art">
    _  _    ___  _  _
   | || |  / _ \| || |
   | || |_| | | | || |_
   |__   _| | | |__   _|
      | | | |_| |  | |
      |_|  \___/   |_|
    </pre>
    <p class="error-msg">there's nothing here.</p>
    <p class="error-sub">you either mistyped something or i broke something.<br/>either way, not your fault. probably.</p>
    <a href="/">&larr; go home</a>
  </div>
</Base>
