---
import Base from '../layouts/Base.astro';
---

<Base title="500">
  <div class="error-page">
    <pre class="error-art">
    ____   ___   ___
   | ___| / _ \ / _ \
   |___ \| | | | | | |
    ___) | |_| | |_| |
   |____/ \___/ \___/
    </pre>
    <p class="error-msg">something broke on my end.</p>
    <p class="error-sub">the server had a moment. it happens.<br/>i'll fix it when i notice. or when you tell me.</p>
    <a href="/">&larr; go home</a>
  </div>
</Base>
